.idea

# Log file
*.log

# Distribution / packaging
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
*.pyc

# /
/auto
/log
/outlog

/php/vendor

/build/lib/adsb_helpers/build/
/build/diagostics/adsb_messages.db

